// This file produces no actual CSS,
// only variables, mixins, and functions

//    Colors
// ==================
$color-white: #fff;
$color-bg-lt: #f4f2f1;       // very light warm grey

$color-type: #444;           // very dark neutral grey
$color-charcoal: #222;       // super dark grey
$color-charcoal-dk: #191919; // super dark grey++

$color-accent1: #bf3730;     // red
$color-accent2: #277f7f;     // teal

$color-accent1-light: #d94941; // light red
$color-accent2-light: #369998; // teal


// below are older colors that need to be changed
$color-gray-dk: #6c7880;
$color-dark-red: #bf3730;
$color-light-red: #d94941;
$color-dark-blue: #277f7f;
$color-light-blue: #369998;
$color-light-beige: #e5e4e3;
$color-medium-beige: #f4f2f1;


// Misc Variables
// ==================
$container-width: 1100px;
$transition-duration: 250ms;


//    Mixins
// ==================
@mixin box-sizing {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

// buttons
// -------------
// border radius for buttons - defaults to 4px
@mixin button-radius($n: 4px) { border-radius: $n; }

// button gradient builder
@mixin button-gradient($color) {
   background: colorize($color, l2);
   background-image: -webkit-linear-gradient(top, colorize($color, l2), colorize($color, l1));
   background-image: -moz-linear-gradient(top, colorize($color, l2), colorize($color, l1));
   background-image: -ms-linear-gradient(top, colorize($color, l2), colorize($color, l1));
   background-image: -o-linear-gradient(top, colorize($color, l2), colorize($color, l1));
   background-image: linear-gradient(top, colorize($color, l2), colorize($color, l1));
}

// box shadow under button (3D effect)
@mixin button-box-shadow($color) {
  -webkit-box-shadow: 0 2px 0 0 colorize($color, d2);
     -moz-box-shadow: 0 2px 0 0 colorize($color, d2);
          box-shadow: 0 2px 0 0 colorize($color, d2);
}

@mixin transition-color($duration) {
   -webkit-transition: color $duration linear;
           transition: color $duration linear;
}
@mixin transition-bg($duration) {
   -webkit-transition: background $duration linear;
           transition: background $duration linear;
}


//    Functions
// ==================

// Tint or shade a color set amounts
@function colorize($color, $change: n) {
  @if $change == n {
    @return $color;
  }
  @if $change == l1 {
    @return tint($color, 10%);
  }
  @if $change == l2 {
    @return tint($color, 25%);
  }
  @if $change == l3 {
    @return tint($color, 35%);
  }
  @if $change == l4 {
    @return tint($color, 50%);
  }
  @if $change == d1 {
    @return shade($color, 10%);
  }
  @if $change == d2 {
    @return shade($color, 25%);
  }
  @if $change == d3 {
    @return shade($color, 35%);
  }
  @if $change == d4 {
    @return shade($color, 50%);
  }
}
