// This file produces no actual CSS,
// only variables, mixins, and functions

//    Colors
// ==================
$color-white: #fff;
$color-bg-lt: #f4f1f0;
$color-type: #444;

// below are older colors that need to be changed
$color-mint: #aae7b0;
$color-orange: #ff905c;
$color-charcoal: #222;
$color-gray-dk: #6c7880;
$color-blue-lt: #e9f0f4;
$color-blue-md: #658daa;


// border radius for buttons - defaults to 4px
@mixin button-radius($n: 4px) {
   border-radius: $n;
}