// General page styling

body {
   background: $color-bg-lt;
   color: $color-type;
   font-family: $font-copy;
   font-size: $font-size-base;
   line-height: $line-height-base;
}

#wrap {
   background: $color-white;
   margin: 0 auto;
   width: 1100px;
}


.widget-wrap { padding: 10px; }