// Styling for articles
// ====================

article {
   position: relative;
   border-bottom: solid 1px #ddd;
}

article .readmore {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

/*** Meta Classes ***/

.byline-meta {
   width: 100%;
   margin: 5px 10px;
   font-size: 14px;
   line-height: 120%;
   color: #888;
   font-style: italic;
}

.post-meta {
   border-top: 0px solid #E8E8E8;
   margin: 5px 0 0;
   padding: 5px 0 0;
   font-style: italic;
   clear: both;
   display: none;
}
.post-meta p {
   font-size: 14px;  
}

#content .blog article .entry-title {
    font-size: 18px;
    background-color: $color-accent1-light;
    padding: 5px 10px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    border: solid 1px $color-accent1;
    line-height: 1.2;
}
#content .blog article .entry-title a {
    color: #fff;
}
#content .blog article {
    border-bottom: none;
}
#content .blog .attachment-large.wp-post-image {
    padding: 0!important;
    border-bottom: solid 3px #d94941;
    width: 100%;

}
#content .blog article .entry-image {
    max-height: 360px;
    overflow: hidden;
    border: solid 1px #ddd;

}



.home #php-text-3 article {
  background: white;
  float: left;
  margin: 10px 10px 30px 10px;
  overflow: hidden;
  height: 500px;
  width: 340px; 
  position: relative;
  }
  
.home .php-textwidget article p {
    font-size: 16px; 
    }

.home article.post {
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  }
  
.home article.post .entry-image {
    max-height: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    }
    
.home article.post .entry-image img {
      min-width: 100%;
      height: auto;
      padding: 0!important;
      }
  
.homepage article .byline-meta {
    position: relative; top: 200px;
}

   
.homepage article .entry-title {
    font-size: 24px;
    position: relative;
    top: 200px;
    padding: 10px 10px 0;
    margin: 0;
}

.home article.post .entry-content {
  position: relative;
  top: 200px;
  padding: 0 10px;
}

/* Events Styling */

.event .entry-title {
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
}
.event {
    padding-bottom: 15px;
    margin: 0 0 20px 0;
}

.event a:link, .event a:visited {
    color: $color-accent2;
}

.event a:hover, .event a:active {
    color: $color-accent2-light;
}



.homepage #php-text-4 .event {
    width: 340px;
    float: left;
    margin: 20px 0 40px 20px;
    height: 140px;
    overflow: visible;
    position: relative;
    border-right: solid 1px #ddd;
    padding-right: 5px;
    border-bottom: none;
}


.calendardate {
    width: 55px;
    float: left;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: $color-light-beige;
    border: solid 1px #ddd;
    margin:  0 10px 0 0;
}
.calendardate .month {
    /* font-family: 'Lato', sans-serif; */
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-accent2-light;
    padding: 0;
    line-height: 1.8em;
    border: solid 1px $color-accent2-light;
}
.calendardate .day {
    font-size: 26px;
    padding: 0;
    color: $color-accent2;
    line-height: 1.4;
}

#sidebar-1-wrap .widget-wrap .calendardate {
    background-color: $color-light-beige;
}

/* Calendar Page Events */

#content .blog .event {
    width: 340px;
    float: left;
    margin: 2px;
    overflow: auto;
    padding: 10px 10px 20px 10px;

}
#content .blog .event:nth-child(1), #content .blog .event:nth-child(4),  #content .blog .event:nth-child(7),  #content .blog .event:nth-child(10) {
    clear: left;

}
#content .blog .event .entry-title {
    background-color: transparent;
    color: $color-accent2;
    border: none;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0;
}
#content .blog .event .entry-title a {
    color: $color-accent2;
}
#post-372 {}
#content .blog .event .readmore {
    bottom: 5px;
    color: $color-accent2;
}
#content .blog .event .entry-header {
    border-top: solid 1px #ddd;
    padding-top: 20px;
}

#content article p, #content article ul {

   
}
