.backbutton:before {
    display: block;
    
    content: '\2190';
    position: absolute;
    left: 0;
    color: #bf3730;
}
.backbutton {
    padding-left: 20px;
    position: relative;
}

#content #text-7 p {
padding: 0;
}

#buddypress #member-list {
border: none;
}

#content #buddypress ul.item-list>li, #member-list .profile-card {
   width: 32%;
  float: left;
  margin: 0 1% 10px 0;
  padding: 0 0 20px 0;
  background-color: $color-bg-lt;
  position: relative;
  border: solid 1px #ddd;
}

#member-list .profile-card:nth-child(4), #member-list .profile-card:nth-child(7) {
   clear: left;
}

.part-time, .full-time {
   clear: left;
   padding-top: 20px;
}

#buddypress #member-list .profile-card h4 {
    font-weight: 400;
  font-size: 14px;
  width: auto;
  float: left;
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
  color: #fff;
  padding-right: 5px;
}

#content .profile-card h5 {
    font-weight: 400;
  font-size: 14px;
  width: auto;
  float: left;
  text-transform: uppercase;
  position: relative;
  margin-right: 0;
  color: #fff;
  padding-right: 0;
}

.profile-card .profile-header a {
    color: #fff;
}
#buddypress #member-list .profile-card h4:after {
    display: block;
    content: ' | ';
    position: absolute;
    right: -5px;
    top: 0;
}

#member-list .profile-header {
    background-color: $color-accent1-light;
    height: 28px;
    padding: 5px 0 0 10px;
    /* margin-right: 10px; */
}
.profile-body {
    padding: 5px;
    font-size: 14px;
}

.profile-body p {
    padding: 10px 5px;
    font-size: 14px;
}
#content #buddypress ul.item-list li img.avatar {
    float: right;
    margin: 0;
    border: solid 1px #ddd;
}
.profile-card .viewprofile {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

#content #buddypress .course {
    clear: left;
  padding: 0;
  border: none;
  padding: 10px 0 0 0;
  list-style-type: none;
  margin: 0;
}

#content #buddypress .profile-card .coursestaught {
    clear: both;
    margin: 0 0 0 8px;
}
#content #buddypress .coursenumber {
    float: left;
    margin-right: 5px;
    font-weight: 600;
}
#content #buddypress .coursedetails {
    clear: left;
}
#content #buddypress .coursetitle {
    font-weight: 600;
}
#content #buddypress .coursedetails ul li {
float: left;
  position: relative;
  display: block;
  margin: 0 6px 0 0;
  padding: 0 5px 0 0;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
}
.coursedetails li:after {
    display:  block;
    content: '\FF65';
    position: absolute;
    top: 0px;
    right: -3px;
}
.coursedetails li:nth-last-child(1):after {
    display:  none;
}

#content .coursestaught ul {
    padding: 0;
}
.full-time .profile-card {
    min-height: 550px;
}
.part-time .profile-card {
    min-height: 350px;
}

#member-list .profile-body p {
    padding: 0;
}

/* Individual Profile Styles */

#content #buddypress #item-header {
   width: 30%;
   float: right;
    background-color: $color-bg-lt;
    border: solid 1px #ddd;
    margin: 0;
    position:relative;
    top:-30px;
}
#buddypress #item-header .widgettitle {
    background-color: $color-accent1-light;   border: solid 1px $color-accent1;   color: #fff;   padding: 5px;   text-transform: uppercase;   font-size: 18px;   font-weight: 400;   line-height: 1.2;
}
#buddypress #item-header-content {
    padding: 10px;
}
#buddypress #item-header-avatar {
    width: 100%;
    text-align: center;
}
#content #buddypress div#item-header img.avatar {
  width: 100%;
  margin: 0;
}
#buddypress #item-header-avatar a {
    margin:  10px auto;
    width: 90%;
    display: block;
}
#content #buddypress div#item-header div#item-meta {
    margin: 0;
    color: #444;
}
#buddypress #item-header h5, {
    margin: 15px 0 0 0;
}

#buddypress #item-header h6 {
   
   margin: 0;
}

#buddypress #item-header p {
    padding:  0;
}

#buddypress #item-body {
    margin-bottom: 50px;
    width: 68%;
}

.profile #content #buddypress .coursetitle {
    text-transform:uppercase;
}