
// Colors are wonky at the moment

// Copied from my own library. Some styles are
// irrelevant to us (RT)

// general button style
// This is the base class for a button. Add one of the other
// classes below in addition to the base class to style further.
.button {
  background: $color-mint; // check color
  border: 0;
  color: $color-white;
  display: inline-block;
  font-family: $font-headings;
  font-size: .7em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1em 0;
  padding: 1em 1.25em;
  text-decoration: none;
  text-transform: uppercase;

  @include button-radius;

  // &:visited { color: #fff; }

  &:hover, &:focus {
    background: $color-blue-lt; // check color
    border: 0;
    color: $color-white; // check color
  }
  &:active {}
}

// call to action button style
.button-action {
  background: $color-orange; // check color
  font-size: .85em;

  &:hover, &:focus {
    background: $color-blue-md; // check color
  }
  &:active {}
}

// may be deleted
.button-top-nav {
  background: none;
  line-height: 1;
  padding: 1em 0;
  width: 100%;

  &:hover {
    background: #fff;
    color: $color-blue-md; // check color
  }
}

// may be deleted
.button-return {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 30%;
}

// may be deleted
.button-masthead {
  background: #fff;
  color: $color-blue-md; // check color
  margin: 1em 2em;
  padding: 1em 2em;

  &:hover, &:focus { background: $color-mint; } // check color
}

// disabled button style
.disabled { color: $color-mint !important; } // check color