
/* Buttons
   ============== */

// general button style
// This is the base class for a button. Add one of the other
// classes below in addition to the base class to style further.
.button {
  background: colorize($color-accent2, l2);
  background-image: -webkit-linear-gradient(top, colorize($color-accent2, l2), colorize($color-accent2, l1));
  background-image: -moz-linear-gradient(top, colorize($color-accent2, l2), colorize($color-accent2, l1));
  background-image: -ms-linear-gradient(top, colorize($color-accent2, l2), colorize($color-accent2, l1));
  background-image: -o-linear-gradient(top, colorize($color-accent2, l2), colorize($color-accent2, l1));
  background-image: linear-gradient(top, colorize($color-accent2, l2), colorize($color-accent2, l1));

  -webkit-box-shadow: 0 2px 0 0 colorize($color-accent2, d2);
     -moz-box-shadow: 0 2px 0 0 colorize($color-accent2, d2);
          box-shadow: 0 2px 0 0 colorize($color-accent2, d2);

  color: $color-white;
  display: inline-block;
  font-family: $font-headings;
  font-size: .75em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1em 0;
  padding: 1em 1.25em;
  text-decoration: none;
  text-transform: uppercase;

  @include button-radius;

  &:visited { color: #fff; }
  &:hover, &:focus { background: $color-accent2; }
  &:active {}
}

// call to action button style
.button-action {
  background: $color-orange; // check color
  font-size: .85em;

  &:hover, &:focus {
    background: $color-blue-md; // check color
  }
  &:active {}
}

// disabled button style
.disabled {
  color: $color-mint !important;
}