
/*   Footer
=========================*/

#footer-wrap {}

footer {

   h4 { color: colorize($color-accent2, l3); }

   a, a:visited { color: colorize($color-bg-lt, d1); } 
   a:hover, a:active { color: $color-accent1; }

   .contactinfo {
      p { color: colorize($color-accent2, l3); }
   }

}

#footer .clearfix {
margin: 0 auto;
width: 1100px;
}

#footer ul li {
    list-style-type: none;
}

#footer .footer-content a:hover {
   color: #59B2B2;
   text-decoration: none;
}

#footer .catalyst-widget-area {
    background-color: transparent;
    color: #ffffff;
}
.footerlogo a {
   background: url(images/logo.png) left top no-repeat;
   display: block;
   height: 158px;
   width: 100px;
}
#footer .widget-wrap {
    padding: 0;
}
#footer .contactinfo {
    width: 20%;
}

#footer .social {
    width: 20%;
}

#footer .concentrations {
    width: 15%;
}

#footer .menu-main-menu-container {
    width: 10%;
}

.footertop {
   $logo-padding-top: 1.5em;

   background: $color-charcoal;
   padding: $logo-padding-top 0;

   .container > div {
      float: left;
      margin: 0 2%;

      &.footerlogo { margin: -$logo-padding-top 20px; }
   }

   ul li { margin-bottom: .75em; }
}

.footerbottom {
   background: $color-charcoal-dk;
   color: colorize($color-charcoal, l3);
   font-size: .75em;
   padding: 1.25em 0 .25em;

   .copyright {
      font-size: inherit;
   }

   a, a:visited { color: colorize($color-charcoal, l3); }
}

.footerright {
   // display: block;
   float: right;
}
#footer .copyright,
#footer .menu-quick-links-container,
#footer .menu-footer-menu-container {
    float: left;
}
.footerbottom .menu-item {
    display: inline-block;
    padding: 0 5px;
}