/* Typography
   ================== */
// weights
$font-light: 200;
$font-normal: 400;
$font-bold: 700;

// type sizing
$font-size-base: 16px;
$line-height-base: 1.5;

// fonts
$font-headings: 'raleway', 'helvetica neue', sans-serif;
$font-copy: 'lato', 'helvetica neue', sans-serif;

// Headings
h1,h2,h3,h4,h5,h6 {
   font-family: $font-headings;
   font-weight: $font-bold;
   margin-bottom: 10px;
}
h1,h2,h3 { line-height: 1.2; }
h1,h2 { font-weight: $font-normal; }
h5,h6 { text-transform: uppercase; }

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

// Basic type
p {
   font-size: $font-size-base;
   margin-bottom: 1.3em;
}
