// Typography
// ==================
// weights
$font-light: 200;
$font-normal: 400;
$font-bold: 700;

// type sizing
$font-size-base: 16px;
$line-height-base: 1.5;

// fonts
$font-headings: 'raleway', 'helvetica neue', sans-serif;
$font-copy: 'lato', 'helvetica neue', sans-serif;

// Headings
h1,h2,h3,h4,h5,h6 {
   font-family: $font-headings;
   font-weight: $font-bold;
}
h1,h2,h3 { line-height: 1; }

h1 {
   font-size: 42px;
}
h2 {
   font-size: 36px;
}
h3 {
   font-size: 32px;
}
h4 {
   font-size: 1em;
}
h5 {
   font-size: 1em;
}
h6 {
   font-size: 1em;
}
